*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 203, 160);
    min-height: 100vh;
}

header{
    text-align: center;
    background-color: rgb(20, 190, 133);
    border-bottom: 5px solid rgb(0, 1, 0);
}

header img{
    width: 200px;
    height: 200px;
}
nav{
    text-align: center;
    margin-top: 20px;
  
    height: 50px;
}
nav a {
    margin: 0px 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    background-color: rgb(56, 213, 161);
    display: inline-block;
    line-height: 50px;
    height: 50px;
    box-shadow: 5px 5px 1px;
    }

section.div.box{
    background-color: rgb(47, 169, 128);
    width: 50%;
    margin: 0px auto;
    padding-left: 30px;
    margin-bottom: 50px;
}
nav a:hover{
    opacity: 0.6;
}
nav a:active{
    height: 45px;
    font-size: 15px;}
nav a:visited{
    color: rgb(16, 84, 61);
}
li{
    background-color: aquamarine;
    text-transform: lowercase;
}
li:hover{
    background-color: rgb(192, 234, 220);
}
li:nth-child(even):hover{
    background-color:rgb(99, 174, 149);
}
h2{
    margin-top: 60px;
    background-color: rgb(119, 233, 195);
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    box-shadow: 5px 5px 1px;
    border: 10px solid rgb(119, 233, 195) ;
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(99, 173, 207);
    display: inline-block;
    margin-left: 10px;
    border: 10px solid rgb(99, 173, 207);
    }
h5{
    display: inline;
    opacity: 0.1;
}
h5:hover{
    opacity: 1;
    transition: 0.3s;
}
li{
    margin-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: wheat;
    font-size: 20px;
   
    }
button:hover{opacity: 0.6;cursor: pointer;}
button:active{height: 45px;font-size: 12px;}

